

<h1><%=@mover.full_name%></h1>

<p><%= @mover.email%></p>
<p><%= @mover.location%></p>
<p><%= @mover.age%></p>
<% if !@mover.rating.nil?%>
<h4><%= @movee.rating%></h4>
<% end%>

<%= form_for @mover, :url => {:controller => 'movers', :action => "update"} do %>
<%=collection_select(:mover, :moving_event_id, MovingEvent.all, :id, :name)%>
<%=submit_tag 'Help move'%>
<% end%>

<h3>Moving Events available</h3>

<% MovingEvent.all.each do |event|%>
<li><%= link_to event.name, movee_moving_event_path(event.movee_id, event.id)%><br> <%=event.start_time%></li>
<%end%>
<br><br>
<%= link_to 'Make a Review', new_mover_review_path(@mover.id)%>


<ol>
  <%@mover.reviews. each do |review|%>
    <%if review.comment != ''%>
    <li><h3><%= review.comment%></h3>
      Rating:
      <div class="mover_stars">
        <%(review.mover_rating).times do%>
        <div class="stars">
          <img src="http://pngimg.com/uploads/star/star_PNG41531.png" alt="">
        </div>

        <%end%>
      </div>

    </li>
    <%end%>
  <%end%>
</ol>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@mover.latitude},#{@mover.longitude}&markers=#{@mover.latitude},#{@mover.longitude}&zoom=15&size=640x400&key=AIzaSyDs5XjtC_PfhFPV7Yl7RCO185HnKnHqlfY",
              class: 'img-fluid img-rounded', alt: "#{@mover.full_name} on the map"%>



<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
