
<div class="profile_container">
<div class="profile_info">
  <div class="">
    <h1><%=@mover.full_name%></h1>
    <p><%= @mover.user.email%></p>
  </div>
  <div class="profile_pic">
    <img src="https://uwclintoncounty.org/wp-content/uploads/2017/12/united-way-headshot-empty.png" alt="">
  </div>
  <div class="">
    <p>Search location: <br><%= @mover.location%></p>
    <p>Age: <%= @mover.age%></p>
    <p>Karma Points:<%=@mover.karma_points%></p>
  </div>

  <% if current_user.meta_type == "Mover" && current_user.meta_id == @mover.id%>
  <%=link_to "Delete Account", mover_path(@mover.id), method: :delete, data: { confirm: "Are you sure you want to delete your account #{@mover.full_name}?"}%>
  <%end%>
</div>

<div class="map">
  <%event_params = ''%>
  <%marker =('A'..'Z').to_a %>
  <%index = 0 %>
  <% if @close_events != nil%>
    <% @close_events.each do |event|%>
    <% event_params<< "&markers=color:green%7Clabel:#{marker[index]}%7C#{event.latitude},#{event.longitude}" %>
    <% index == 26? index = 0 : index += 1 %>
    <%end%>
  <%end%>
  <% if @close_events != nil %>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@mover.latitude},#{@mover.longitude}&markers=#{@mover.latitude},#{@mover.longitude}#{event_params}&zoom=#{params[:zoom]}&size=640x400&key=AIzaSyDs5XjtC_PfhFPV7Yl7RCO185HnKnHqlfY",
  class: 'img-fluid img-rounded', alt: "#{@mover.full_name} on the map"%>
  <%else%>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@mover.latitude},#{@mover.longitude}&markers=#{@mover.latitude},#{@mover.longitude}&zoom=#{[:zoom]}&size=640x400&key=AIzaSyDs5XjtC_PfhFPV7Yl7RCO185HnKnHqlfY",
  class: 'img-fluid img-rounded', alt: "#{@mover.full_name} on the map"%>
  <%end%>

<%if @close_events != nil%>
  <%= form_for @mover, :url => {:controller => 'movers', :action => "update"} do %>
  <%=collection_select(:mover, :moving_event_id, @close_events, :id, :name)%><br>
  <%=submit_tag 'Help move'%>
  <% end%>
  <%=form_with do%>
  <%= number_field_tag :zoom,10,within: 0..15 %>
  <%= submit_tag 'Zoom'%>
  <%end%>
<%else%>
  <h1>No one is currently moving in your Area </h1>
<%end%>

</div>

<div class="profile_search">
  <h3>Current Moving Event</h3>
  <%if !@mover.moving_event.nil?%>
  <%=link_to "#{@mover.moving_event.name}", movee_moving_event_path(@mover.moving_event.movee_id, @mover.moving_event.id)%>
  <%end%>

  <h3>Moving Events available</h3>
  <ol type="A">
    <% @close_events.each do |event|%>
    <li><%= link_to event.name, movee_moving_event_path(event.movee_id, event.id)%><br> Start Time: <%=event.start_time%><br> <%=event.location%></li>

    <br><br>
    <%end%>

  </ol>
</div>




  <ol class="ratings">
    <%= link_to 'Leave a Review', new_mover_review_path(@mover.id), class:'leave_review'%>
    <h2>Reviews and Ratings</h2>
    <%@mover.reviews. each do |review|%>
    <%if review.comment != ''%>
    <li><h3><%= review.comment%></h3>
      Rating:
      <div class="mover_stars">
        <%(review.mover_rating).times do%>
        <div class="stars">
          <img src="http://pngimg.com/uploads/star/star_PNG41531.png" alt="">
        </div>
        <%end%>
      </div>

    </li>
    <hr>
    <%end%>
    <%end%>
  </ol>



  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>
