

<h1><%=@mover.full_name%></h1>

<p><%= @mover.email%></p>
<p><%= @mover.location%></p>
<p><%= @mover.age%></p>
<% if !@mover.rating.nil?%>
<h4><%= @movee.rating%></h4>
<% end%>

<%= form_for @mover, :url => {:controller => 'movers', :action => "update"} do %>
<%=collection_select(:mover, :moving_event_id, MovingEvent.all, :id, :name)%>
<%=submit_tag 'Help move'%>
<% end%>

<h3>Moving Events available</h3>

<% MovingEvent.all.each do |event|%>
<li><%= link_to event.name, movee_moving_event_path(event.movee_id, event.id)%><br> <%=event.start_time%></li>
<%end%>
<br><br>
<%= link_to 'Make a Review'%>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
