<h1><%=@moving_event.name%></h1>

<li>Starting Day: <%=@moving_event.start_time.strftime("%m/%d/%y")%></li>
<li>Ending Day: <%=@moving_event.end_time.strftime("%m/%d/%y")%></li>

<ol>
  <% @moving_event.movers.each do |mover|%>
  <li><%= link_to mover.full_name, mover%>  <%=link_to 'remove'%></li> 
  <%end%>
</ol>
