
<h4><%=@movee.first_name%> <%=@movee.last_name%></h4>
<h4><%=@movee.email%></h4>

<%=link_to 'Find a mover', movers_path%>

<%=link_to 'Create a moving event', new_movee_moving_event_path(@movee.id)%>

<ol>
  <% @movee.moving_events.each do |event|%>
  <li><%=link_to event.name, movee_moving_event_path(@movee.id, event.id)%></li>
  <p>Movers needed: <%=event.movers_needed%></p><p>Movers available: <%=event.movers.count%></p>
  <%end%>
</ol>
