
<h4><%=@movee.first_name%> <%=@movee.last_name%></h4>
<h4><%=@movee.email%></h4>

<%=link_to 'Find a mover', movers_path%>

<%=link_to 'Create a moving event', new_movee_moving_event_path(@movee.id)%>
